# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# SQLite
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Vercel
.vercel

# Não ignore o CSV dos dados!
!data/livros.csv
